# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript configuration
*.tsbuildinfo

# Environment files
.env
.env.local

# Log files
*.log
logs/

# OS and IDE specific files
.DS_Store
.vscode/
.idea/

# NPM package-lock
package-lock.json

# Yarn lock file (if using Yarn)
yarn.lock

# Tests output
coverage/

# Miscellaneous
*.tgz
*.swp
*.swo

